{"swagger":"2.0","info":{"description":"Api Documentation","version":"1.0","title":"Api Documentation","termsOfService":"urn:tos","contact":{},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0"}},"host":"stable.alpha-trader.com","basePath":"/","tags":[{"name":"achievement-controller","description":"Achievement Controller"},{"name":"alliance-controller","description":"Alliance Controller"},{"name":"at-spiel-controller","description":"At Spiel Controller"},{"name":"bank-account-controller","description":"Bank Account Controller"},{"name":"banking-license-controller","description":"Banking License Controller"},{"name":"bond-controller","description":"Bond Controller"},{"name":"cash-transfer-log-controller","description":"Cash Transfer Log Controller"},{"name":"central-bank-reserves-controller","description":"Central Bank Reserves Controller"},{"name":"chat-controller","description":"Chat Controller"},{"name":"chat-message-controller","description":"Chat Message Controller"},{"name":"company-controller","description":"Company Controller"},{"name":"complaint-controller","description":"Complaint Controller"},{"name":"corporate-action-controller","description":"Corporate Action Controller"},{"name":"derivative-controller","description":"Derivative Controller"},{"name":"empire-controller","description":"Empire Controller"},{"name":"empire-stream-controller","description":"Empire Stream Controller"},{"name":"event-controller","description":"Event Controller"},{"name":"help-controller","description":"Help Controller"},{"name":"highscore-controller","description":"Highscore Controller"},{"name":"history-controller","description":"History Controller"},{"name":"index-controller","description":"Index Controller"},{"name":"interest-controller","description":"Interest Controller"},{"name":"interest-tender-controller","description":"Interest Tender Controller"},{"name":"like-controller","description":"Like Controller"},{"name":"listing-controller","description":"Listing Controller"},{"name":"locale-controller","description":"Locale Controller"},{"name":"main-interest-rate-controller","description":"Main Interest Rate Controller"},{"name":"message-board-controller","description":"Message Board Controller"},{"name":"mining-controller","description":"Mining Controller"},{"name":"news-controller","description":"News Controller"},{"name":"notification-controller","description":"Notification Controller"},{"name":"partner-controller","description":"Partner Controller"},{"name":"portfolio-controller","description":"Portfolio Controller"},{"name":"post-controller","description":"Post Controller"},{"name":"price-spread-controller","description":"Price Spread Controller"},{"name":"reset-controller","description":"Reset Controller"},{"name":"salary-controller","description":"Salary Controller"},{"name":"search-controller","description":"Search Controller"},{"name":"securities-account-controller","description":"Securities Account Controller"},{"name":"security-order-controller","description":"Security Order Controller"},{"name":"security-order-log-controller","description":"Security Order Log Controller"},{"name":"security-price-controller","description":"Security Price Controller"},{"name":"share-position-controller","description":"Share Position Controller"},{"name":"sponsoring-controller","description":"Sponsoring Controller"},{"name":"statistics-controller","description":"Statistics Controller"},{"name":"subscription-controller","description":"Subscription Controller"},{"name":"system-bond-controller","description":"System Bond Controller"},{"name":"trade-controller","description":"Trade Controller"},{"name":"translation-controller","description":"Translation Controller"},{"name":"user-account-controller","description":"User Account Controller"},{"name":"user-preference-controller","description":"User Preference Controller"},{"name":"voting-controller","description":"Voting Controller"}],"paths":{"/api/admin/kickfromchats":{"put":{"tags":["reset-controller"],"summary":"Kicks user from all chats","operationId":"kickFromAllChatsUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"username","in":"query","description":"Username","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessagePrototype","originalRef":"MessagePrototype"}}},"deprecated":false}},"/api/admin/mute":{"put":{"tags":["reset-controller"],"summary":"Mutes or unmutes a user","operationId":"muteUserUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"muted","in":"query","description":"Muted","required":true,"type":"boolean","allowEmptyValue":false},{"name":"username","in":"query","description":"Username","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessagePrototype","originalRef":"MessagePrototype"}}},"deprecated":false}},"/api/bankaccounts/":{"get":{"tags":["bank-account-controller"],"summary":"Returns user's bank account","operationId":"getMyBankAccountV1UsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BankAccountView","originalRef":"BankAccountView"}},"500":{"description":"500 message"}},"deprecated":true}},"/api/bankinglicense":{"get":{"tags":["banking-license-controller"],"summary":"Returns company's banking license","operationId":"getCompanyBankingLicenseUsingGET","produces":["*/*"],"parameters":[{"name":"companyId","in":"query","description":"Company id","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BankingLicenseView","originalRef":"BankingLicenseView"}},"500":{"description":"500 message"}},"deprecated":false},"post":{"tags":["banking-license-controller"],"summary":"Create banking license","operationId":"createBankingLicenseUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"companyId","in":"query","description":"Company id","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BankingLicenseView","originalRef":"BankingLicenseView"}}},"deprecated":false}},"/api/bankinglicense/{bankingLicenseId}":{"get":{"tags":["banking-license-controller"],"summary":"Returns banking license","operationId":"getBankingLicenseUsingGET","produces":["*/*"],"parameters":[{"name":"bankingLicenseId","in":"path","description":"Banking License id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BankingLicenseView","originalRef":"BankingLicenseView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/bonds":{"get":{"tags":["bond-controller"],"summary":"Lists all bonds (200 max.)","operationId":"listBondsV1UsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BondView","originalRef":"BondView"}},"500":{"description":"500 message"}},"deprecated":true},"post":{"tags":["bond-controller"],"summary":"Issues new corporate bonds","operationId":"issueBondsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"companyId","in":"query","description":"Company id","required":true,"type":"string","allowEmptyValue":false},{"name":"faceValue","in":"query","description":"Face value","required":true,"type":"string","allowEmptyValue":false},{"name":"interestRate","in":"query","description":"Interest Rate in percent to pay at maturity date","required":true,"type":"string","allowEmptyValue":false},{"name":"maturityDate","in":"query","description":"Maturity date","required":true,"type":"string","allowEmptyValue":false},{"name":"numberOfBonds","in":"query","description":"Number of bonds to emit","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BondView","originalRef":"BondView"}}},"deprecated":false}},"/api/bonds/securityidentifier/{securityIdentifier}":{"get":{"tags":["bond-controller"],"summary":"Returns bond by its security identifier","operationId":"getBondBySecIdentUsingGET","produces":["*/*"],"parameters":[{"name":"securityIdentifier","in":"path","description":"Security Identifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BondView","originalRef":"BondView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/bonds/{bondId}":{"get":{"tags":["bond-controller"],"summary":"Returns bond","operationId":"getBondUsingGET","produces":["*/*"],"parameters":[{"name":"bondId","in":"path","description":"Bond id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BondView","originalRef":"BondView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/cashtransferlogs":{"get":{"tags":["cash-transfer-log-controller"],"summary":"Lists cash transfer logs","operationId":"listLogsV1UsingGET","produces":["*/*"],"parameters":[{"name":"endDate","in":"query","description":"End date","required":false,"type":"string","allowEmptyValue":false},{"name":"receiverBankAccountId","in":"query","description":"Receiver's bank account id","required":false,"type":"string","allowEmptyValue":false},{"name":"senderBankAccountId","in":"query","description":"Sender's bank account id","required":false,"type":"string","allowEmptyValue":false},{"name":"startDate","in":"query","description":"Start date","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CashTransferLogEntryView","originalRef":"CashTransferLogEntryView"}},"500":{"description":"500 message"}},"deprecated":true}},"/api/centralbankreserves":{"get":{"tags":["central-bank-reserves-controller"],"summary":"Returns company's reserves","operationId":"getCompanyReservesUsingGET","produces":["*/*"],"parameters":[{"name":"companyId","in":"query","description":"Company id","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CentralbankReservesView","originalRef":"CentralbankReservesView"}},"500":{"description":"500 message"}},"deprecated":false},"put":{"tags":["central-bank-reserves-controller"],"summary":"Increase central bank reserves","operationId":"increaseReservesUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"cashAmount","in":"query","description":"Cash amount to increase cash holding","required":true,"type":"string","allowEmptyValue":false},{"name":"companyId","in":"query","description":"Company id","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CentralbankReservesView","originalRef":"CentralbankReservesView"}}},"deprecated":false}},"/api/centralbankreserves/{reservesId}":{"get":{"tags":["central-bank-reserves-controller"],"summary":"Returns reserves","operationId":"getReservesUsingGET","produces":["*/*"],"parameters":[{"name":"reservesId","in":"path","description":"Reserves id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CentralbankReservesView","originalRef":"CentralbankReservesView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/chatrooms":{"get":{"tags":["chat-controller"],"summary":"Lists public chatrooms","operationId":"listPublicChatsUsingGET","produces":["*/*"],"parameters":[{"name":"memberId","in":"query","description":"User ID of chat member","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ChatRoomView","originalRef":"ChatRoomView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/chats":{"get":{"tags":["chat-controller"],"summary":"Lists chats in which logged in user participates","operationId":"getMyChatsV1UsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ChatView","originalRef":"ChatView"}},"500":{"description":"500 message"}},"deprecated":true}},"/api/chats/adduser/userid":{"put":{"tags":["chat-controller"],"summary":"Adds user to chat","operationId":"addToChatV1UsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"chatId","in":"query","description":"Chat id","required":true,"type":"string","allowEmptyValue":false},{"name":"userId","in":"query","description":"User id","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ChatView","originalRef":"ChatView"}}},"deprecated":true}},"/api/chats/adduser/username":{"put":{"tags":["chat-controller"],"summary":"Adds user to chat","operationId":"addToChatByUsernameUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"chatId","in":"query","description":"Chat id","required":true,"type":"string","allowEmptyValue":false},{"name":"username","in":"query","description":"Username","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ChatView","originalRef":"ChatView"}}},"deprecated":true}},"/api/chats/quitchat/{chatId}":{"put":{"tags":["chat-controller"],"summary":"Removes logged in user from chat","operationId":"quitChatUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"chatId","in":"path","description":"Chat id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ChatView","originalRef":"ChatView"}}},"deprecated":true}},"/api/chats/read":{"put":{"tags":["chat-controller"],"summary":"Sets a chat as read by logged in user","operationId":"markChatAsReadV1UsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"chatId","in":"query","description":"Chat ID","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ChatView","originalRef":"ChatView"}}},"deprecated":true}},"/api/chats/removeuser":{"put":{"tags":["chat-controller"],"summary":"Removes user from chat","operationId":"removeFromChatUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"chatId","in":"query","description":"Chat id","required":true,"type":"string","allowEmptyValue":false},{"name":"userId","in":"query","description":"User id","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ChatView","originalRef":"ChatView"}}},"deprecated":true}},"/api/chats/unread":{"get":{"tags":["chat-controller"],"summary":"Returns chats with unread messages","operationId":"getChatsV1UsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CompactChatView","originalRef":"CompactChatView"}},"500":{"description":"500 message"}},"deprecated":true}},"/api/chats/userids":{"post":{"tags":["chat-controller"],"summary":"Creates a new chat","operationId":"createChatByIdsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"chatName","in":"query","description":"Chat name","required":false,"type":"string","allowEmptyValue":false},{"name":"participants[]","in":"query","description":"Participants user ids","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"readonly","in":"query","description":"Readonly","required":false,"type":"boolean","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ChatView","originalRef":"ChatView"}}},"deprecated":true}},"/api/chats/usernames":{"post":{"tags":["chat-controller"],"summary":"Creates a new chat","operationId":"createChatByNamesUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"chatName","in":"query","description":"Chat name","required":false,"type":"string","allowEmptyValue":false},{"name":"participants[]","in":"query","description":"Participants usernames","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"readonly","in":"query","description":"Readonly","required":false,"type":"boolean","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ChatView","originalRef":"ChatView"}}},"deprecated":true}},"/api/chats/{chatId}":{"get":{"tags":["chat-controller"],"summary":"Returns chat","operationId":"getChatV1UsingGET","produces":["*/*"],"parameters":[{"name":"chatId","in":"path","description":"Chat id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ChatView","originalRef":"ChatView"}},"500":{"description":"500 message"}},"deprecated":true},"put":{"tags":["chat-controller"],"summary":"Changes chat properties","operationId":"changeChatV1UsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"chatId","in":"path","description":"Chat id","required":true,"type":"string"},{"name":"chatName","in":"query","description":"Chat name","required":false,"type":"string","allowEmptyValue":false},{"name":"readonly","in":"query","description":"Readonly","required":false,"type":"boolean","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ChatView","originalRef":"ChatView"}}},"deprecated":true},"delete":{"tags":["chat-controller"],"summary":"Deletes chat","operationId":"deleteChatV1UsingDELETE","produces":["*/*"],"parameters":[{"name":"chatId","in":"path","description":"Chat id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":true}},"/api/cleanusers":{"put":{"tags":["reset-controller"],"summary":"Cleans users","operationId":"cleanusersUsingPUT","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessagePrototype","originalRef":"MessagePrototype"}}},"deprecated":false}},"/api/codes":{"post":{"tags":["reset-controller"],"summary":"Generate codes","operationId":"genCodesUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"days","in":"query","description":"days","required":true,"type":"integer","format":"int32","allowEmptyValue":false},{"name":"number","in":"query","description":"number","required":true,"type":"integer","format":"int32","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessagePrototype","originalRef":"MessagePrototype"}}},"deprecated":false}},"/api/companies":{"get":{"tags":["company-controller"],"summary":"Lists companies controlled by logged in user","operationId":"listMyCompaniesV1UsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CompanyView","originalRef":"CompanyView"}},"500":{"description":"500 message"}},"deprecated":true},"post":{"tags":["company-controller"],"summary":"Creates listed company","operationId":"createCompanyUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"cashDeposit","in":"query","description":"Cash deposit amount","required":true,"type":"string","allowEmptyValue":false},{"name":"customAsin","in":"query","description":"Custom ASIN (premium feature)","required":false,"type":"string","allowEmptyValue":false},{"name":"customNumberOfShares","in":"query","description":"Custom number of shares (premium feature)","required":false,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"name","in":"query","description":"Name","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CompanyView","originalRef":"CompanyView"}}},"deprecated":false}},"/api/companies/all/":{"get":{"tags":["company-controller"],"summary":"Lists all companies","operationId":"listAllCompaniesV1UsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CompanyView","originalRef":"CompanyView"}},"500":{"description":"500 message"}},"deprecated":true}},"/api/companies/ceo/userid/{userId}":{"get":{"tags":["company-controller"],"summary":"Lists companies controlled by ceo with user id","operationId":"listCompaniesByUserIdUsingGET","produces":["*/*"],"parameters":[{"name":"userId","in":"path","description":"Username","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CompanyView","originalRef":"CompanyView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/companies/ceo/username/{username}":{"get":{"tags":["company-controller"],"summary":"Lists companies controlled by ceo with username","operationId":"listCompaniesByUserNameUsingGET","produces":["*/*"],"parameters":[{"name":"username","in":"path","description":"Username","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CompanyView","originalRef":"CompanyView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/companies/logo/{companyId}":{"put":{"tags":["company-controller"],"summary":"Adds logo to company","operationId":"addLogoUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"companyId","in":"path","description":"Company id","required":true,"type":"string"},{"name":"logoUrl","in":"query","description":"Logo URL","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CompanyView","originalRef":"CompanyView"}}},"deprecated":false},"delete":{"tags":["company-controller"],"summary":"Removes logo","operationId":"removeLogoUsingDELETE","produces":["*/*"],"parameters":[{"name":"companyId","in":"path","description":"Company id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CompanyView","originalRef":"CompanyView"}}},"deprecated":false}},"/api/companies/securitiesaccount/{securitiesAccountId}":{"get":{"tags":["company-controller"],"summary":"Returns company by its securities account's id","operationId":"getCompanyBySecAccIdUsingGET","produces":["*/*"],"parameters":[{"name":"securitiesAccountId","in":"path","description":"Securities account id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CompanyView","originalRef":"CompanyView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/companies/securityIdentifier/{securityIdentifier}":{"get":{"tags":["company-controller"],"summary":"Returns company by securityIdentifier","operationId":"getCompanyBySecurityIdentifierUsingGET","produces":["*/*"],"parameters":[{"name":"securityIdentifier","in":"path","description":"Security Identifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CompanyView","originalRef":"CompanyView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/companies/{companyId}":{"get":{"tags":["company-controller"],"summary":"Returns company","operationId":"getCompanyUsingGET","produces":["*/*"],"parameters":[{"name":"companyId","in":"path","description":"Company id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CompanyView","originalRef":"CompanyView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/companyprofiles/{companyId}":{"get":{"tags":["company-controller"],"summary":"Returns company profile","operationId":"getCompanyProfileUsingGET","produces":["*/*"],"parameters":[{"name":"companyId","in":"path","description":"Company id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CompanyProfileView","originalRef":"CompanyProfileView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/complaints":{"post":{"tags":["complaint-controller"],"summary":"Opens new complaint","operationId":"createComplaintUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"subjectMatterId","in":"query","description":"Subject Matter ID","required":true,"type":"string","allowEmptyValue":false},{"name":"subjectMatterType","in":"query","description":"Subject Matter Type","required":true,"type":"string","allowEmptyValue":false,"enum":["COMPANY_LOGO","COMPANY_NAME","ALLIANCE_LOGO","MESSAGE","MESSAGE_BOARD","POST","USER_NAME"]},{"name":"text","in":"query","description":"Text","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ComplaintView","originalRef":"ComplaintView"}}},"deprecated":false}},"/api/complaints/{complaintId}":{"get":{"tags":["complaint-controller"],"summary":"Returns complaint","operationId":"getComplaintUsingGET","produces":["*/*"],"parameters":[{"name":"complaintId","in":"path","description":"Complaint id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ComplaintView","originalRef":"ComplaintView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/employmentagreements/":{"get":{"tags":["salary-controller"],"summary":"Lists logged in user's employment agreements","operationId":"getAgreementsV1UsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CompanyEmploymentAgreementView","originalRef":"CompanyEmploymentAgreementView"}},"500":{"description":"500 message"}},"deprecated":true}},"/api/employmentagreements/company/{companyId}":{"get":{"tags":["salary-controller"],"summary":"Returns employment agreement","operationId":"getAgreementV1UsingGET","produces":["*/*"],"parameters":[{"name":"companyId","in":"path","description":"Company id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EmploymentAgreementView","originalRef":"EmploymentAgreementView"}},"500":{"description":"500 message"}},"deprecated":true}},"/api/events/":{"get":{"tags":["event-controller"],"summary":"Returns all nonpersistent events (20000 max, optional: after date)","operationId":"getAllUsingGET","produces":["*/*"],"parameters":[{"name":"afterDate","in":"query","description":"After date","required":false,"type":"integer","format":"int64","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Event","originalRef":"Event"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/events/user/":{"get":{"tags":["event-controller"],"summary":"Returns all nonpersistent events fore current user (20000 max, optional: after date)","operationId":"getMyEventsUsingGET","produces":["*/*"],"parameters":[{"name":"afterDate","in":"query","description":"After date","required":false,"type":"integer","format":"int64","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Event","originalRef":"Event"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/initiatedpolls/":{"get":{"tags":["voting-controller"],"summary":"Returns logged in user's initiated polls","operationId":"getPollsV1UsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AbstractPollView","originalRef":"AbstractPollView"}},"500":{"description":"500 message"}},"deprecated":true}},"/api/listingprofiles/{securityIdentifier}":{"get":{"tags":["listing-controller"],"summary":"Gets listing profile","operationId":"getProfileV1UsingGET","produces":["*/*"],"parameters":[{"name":"securitiesAccountId","in":"query","description":"Shareholder's securities account id","required":false,"type":"string","allowEmptyValue":false},{"name":"securityIdentifier","in":"path","description":"Security identifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ListingProfileView","originalRef":"ListingProfileView"}},"500":{"description":"500 message"}},"deprecated":true}},"/api/listings/":{"get":{"tags":["listing-controller"],"summary":"Lists all listings without end date (200 max.)","operationId":"listListingsV1UsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ListingView","originalRef":"ListingView"}},"500":{"description":"500 message"}},"deprecated":true}},"/api/listings/outstandingshares/{securityIdentifier}":{"get":{"tags":["listing-controller"],"summary":"Returns Outstanding Shares","operationId":"getOutstandingSharesUsingGET","produces":["*/*"],"parameters":[{"name":"securityIdentifier","in":"path","description":"Security Identifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int64"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/listings/{securityIdentifier}":{"get":{"tags":["listing-controller"],"summary":"Returns listing","operationId":"getListingUsingGET","produces":["*/*"],"parameters":[{"name":"securityIdentifier","in":"path","description":"Security Identifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ListingView","originalRef":"ListingView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/locale":{"get":{"tags":["locale-controller"],"summary":"Returns logged in user's locale","operationId":"getMyLocaleUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessagePrototype","originalRef":"MessagePrototype"}},"500":{"description":"500 message"}},"deprecated":false},"put":{"tags":["locale-controller"],"summary":"Sets logged in user's locale","operationId":"setMyLocaleUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"locale","in":"query","description":"Locale","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessagePrototype","originalRef":"MessagePrototype"}}},"deprecated":false}},"/api/locales":{"get":{"tags":["locale-controller"],"summary":"Lists available locales","operationId":"getLocalesUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"500":{"description":"500 message"}},"deprecated":false}},"/api/mail":{"post":{"tags":["reset-controller"],"summary":"Sends mail","operationId":"sendMailUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"htmlContent","description":"htmlContent","required":true,"schema":{"type":"string"}},{"name":"locale","in":"query","description":"locale","required":true,"type":"string","allowEmptyValue":false},{"name":"subject","in":"query","description":"subject","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessagePrototype","originalRef":"MessagePrototype"}}},"deprecated":false}},"/api/maininterestrate/":{"get":{"tags":["main-interest-rate-controller"],"summary":"Lists main interest rates  in percent","operationId":"listRatesUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MainInterestRateView","originalRef":"MainInterestRateView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/maininterestrate/latest/":{"get":{"tags":["main-interest-rate-controller"],"summary":"Returns latest main interest rate in percent","operationId":"getLatestRateUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MainInterestRateView","originalRef":"MainInterestRateView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/marketstatistics/":{"get":{"tags":["statistics-controller"],"summary":"Lists latest hourly market statistics (2400 max)","operationId":"listHourlyStatisticsUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MarketStatsSnapshot","originalRef":"MarketStatsSnapshot"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/messages":{"post":{"tags":["chat-message-controller"],"summary":"Sends a new message","operationId":"sendMessageV1UsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"chatId","in":"query","description":"ID of the chat group","required":true,"type":"string","allowEmptyValue":false},{"name":"content","in":"query","description":"Content","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessageView","originalRef":"MessageView"}}},"deprecated":true}},"/api/messages/chat/{chatId}":{"get":{"tags":["chat-message-controller"],"summary":"Returns messages of chat","operationId":"getMessagesOfChatV1UsingGET","produces":["*/*"],"parameters":[{"name":"afterDate","in":"query","description":"After date","required":false,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"beforeDate","in":"query","description":"Before date","required":false,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"chatId","in":"path","description":"Chat id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessageView","originalRef":"MessageView"}},"500":{"description":"500 message"}},"deprecated":true}},"/api/messages/read":{"put":{"tags":["chat-message-controller"],"summary":"Sets a message as read by logged in user","operationId":"updateMessageReadV1UsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"messageId","in":"query","description":"Message ID","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessageView","originalRef":"MessageView"}}},"deprecated":true}},"/api/messages/unread":{"get":{"tags":["chat-message-controller"],"summary":"Returns unread messages","operationId":"getUnreadMessagesV1UsingGET","produces":["*/*"],"parameters":[{"name":"chatId","in":"query","description":"ID of the chat group","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessageView","originalRef":"MessageView"}},"500":{"description":"500 message"}},"deprecated":true}},"/api/messages/{messageId}":{"get":{"tags":["chat-message-controller"],"summary":"Returns mesage","operationId":"getMessageV1UsingGET","produces":["*/*"],"parameters":[{"name":"messageId","in":"path","description":"Message id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessageView","originalRef":"MessageView"}},"500":{"description":"500 message"}},"deprecated":true},"delete":{"tags":["chat-message-controller"],"summary":"Deletes message","operationId":"deleteMessageV1UsingDELETE","produces":["*/*"],"parameters":[{"name":"messageId","in":"path","description":"Message id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessagePrototype","originalRef":"MessagePrototype"}}},"deprecated":true}},"/api/multisearch/{searchString}":{"get":{"tags":["search-controller"],"summary":"Search for multiple entities","operationId":"multiSearchUsingGET","produces":["*/*"],"parameters":[{"name":"searchString","in":"path","description":"Search string","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SearchResult","originalRef":"SearchResult"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/notifications":{"get":{"tags":["notification-controller"],"summary":"Lists notifications for logged in user","operationId":"getMyNotificationsV1UsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/NotificationView","originalRef":"NotificationView"}},"500":{"description":"500 message"}},"deprecated":true}},"/api/notifications/read/":{"put":{"tags":["notification-controller"],"summary":"Marks all notifications for logged in user as read","operationId":"markNotificationsAsReadUsingPUT","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessagePrototype","originalRef":"MessagePrototype"}}},"deprecated":true}},"/api/notifications/unread/":{"get":{"tags":["notification-controller"],"summary":"Lists unread notifications for logged in user","operationId":"getMyUnreadNotificationsUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/NotificationView","originalRef":"NotificationView"}},"500":{"description":"500 message"}},"deprecated":true}},"/api/orderbook/{securityIdentifier}":{"get":{"tags":["security-order-controller"],"summary":"Returns orderbook of security","operationId":"getOrderbookUsingGET","produces":["*/*"],"parameters":[{"name":"securityIdentifier","in":"path","description":"Security identifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderBook","originalRef":"OrderBook"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/partners/":{"get":{"tags":["partner-controller"],"summary":"Lists partners","operationId":"listPartnersUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UsernameView","originalRef":"UsernameView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/partners/register":{"put":{"tags":["partner-controller"],"summary":"Registers logged in user as partner with new partner id","operationId":"registerAsPartnerUsingPUT","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserAccountView","originalRef":"UserAccountView"}}},"deprecated":false}},"/api/polls":{"get":{"tags":["voting-controller"],"summary":"Returns all polls","operationId":"getAllPollsUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AbstractPollView","originalRef":"AbstractPollView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/polls/cashout":{"post":{"tags":["voting-controller"],"summary":"Initiate cash out poll","operationId":"initiateCashOutPollUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"companyId","in":"query","description":"Company id","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ShareholderYesNoPollView","originalRef":"ShareholderYesNoPollView"}}},"deprecated":false}},"/api/polls/employceo":{"post":{"tags":["voting-controller"],"summary":"Initiate employ CEO poll","operationId":"initiateEmployCeoPollV1UsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"companyId","in":"query","description":"Company id","required":true,"type":"string","allowEmptyValue":false},{"name":"dailyWage","in":"query","description":"Requested daily wage","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EmployCeoPollView","originalRef":"EmployCeoPollView"}}},"deprecated":true}},"/api/polls/execute/{pollId}":{"post":{"tags":["voting-controller"],"summary":"Executes poll result","operationId":"executeVoteResultV1UsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"pollId","in":"path","description":"Poll id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessagePrototype","originalRef":"MessagePrototype"}}},"deprecated":true}},"/api/polls/liquidation":{"post":{"tags":["voting-controller"],"summary":"Initiate liquidation poll","operationId":"initiateLiquidationPollV1UsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"companyId","in":"query","description":"Company id","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ShareholderYesNoPollView","originalRef":"ShareholderYesNoPollView"}}},"deprecated":true}},"/api/polls/{pollId}":{"get":{"tags":["voting-controller"],"summary":"Returns poll","operationId":"getPollV1UsingGET","produces":["*/*"],"parameters":[{"name":"pollId","in":"path","description":"Poll id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AbstractPollView","originalRef":"AbstractPollView"}},"500":{"description":"500 message"}},"deprecated":true},"post":{"tags":["voting-controller"],"summary":"Casts a vote","operationId":"castVoteV1UsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"pollId","in":"path","description":"Poll id","required":true,"type":"string"},{"name":"voices","in":"query","description":"Number of voices","required":true,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"votingType","in":"query","description":"Voting type","required":true,"type":"string","allowEmptyValue":false,"enum":["YES","NO"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AbstractPollView","originalRef":"AbstractPollView"}}},"deprecated":true},"delete":{"tags":["voting-controller"],"summary":"Deletes poll","operationId":"deletePollV1UsingDELETE","produces":["*/*"],"parameters":[{"name":"pollId","in":"path","description":"Poll id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessagePrototype","originalRef":"MessagePrototype"}}},"deprecated":true}},"/api/portfolios/fixedincome/{securitiesAccountId}":{"get":{"tags":["portfolio-controller"],"summary":"Returns fixed income securities in portfolio","operationId":"getPortfolioFixedIncomeSecuritiesUsingGET","produces":["*/*"],"parameters":[{"name":"securitiesAccountId","in":"path","description":"Securities account id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FixedIncomeSecurityView","originalRef":"FixedIncomeSecurityView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/portfolios/{securitiesAccountId}":{"get":{"tags":["portfolio-controller"],"summary":"Returns portfolio view of securities account","operationId":"getPortfolioUsingGET","produces":["*/*"],"parameters":[{"name":"securitiesAccountId","in":"path","description":"Securities account id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PortfolioView","originalRef":"PortfolioView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/pricespreads/":{"get":{"tags":["price-spread-controller"],"summary":"Lists all price spreads","operationId":"listSpreadsV1UsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PriceSpreadListingView","originalRef":"PriceSpreadListingView"}},"500":{"description":"500 message"}},"deprecated":true}},"/api/pricespreads/{securityIdentifier}":{"get":{"tags":["price-spread-controller"],"summary":"Returns price spread","operationId":"getSpreadUsingGET","produces":["*/*"],"parameters":[{"name":"securityIdentifier","in":"path","description":"Security identifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PriceSpreadListingView","originalRef":"PriceSpreadListingView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/reset/":{"put":{"tags":["reset-controller"],"summary":"Resets the market","operationId":"resetUsingPUT","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessagePrototype","originalRef":"MessagePrototype"}}},"deprecated":false}},"/api/reset/removeusersfromchat":{"put":{"tags":["reset-controller"],"summary":"Removes users from chat, 300 in one run max","operationId":"removeFromChatInBatchUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"chatId","in":"query","description":"Chat id","required":true,"type":"string","allowEmptyValue":false},{"name":"namepart","in":"query","description":"Namepart","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ChatView","originalRef":"ChatView"}}},"deprecated":false}},"/api/reset/usertoken":{"get":{"tags":["reset-controller"],"summary":"Returns User's JWT Token","operationId":"getJwtTokenUsingGET","produces":["*/*"],"parameters":[{"name":"username","in":"query","description":"Username","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessagePrototype","originalRef":"MessagePrototype"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/salarypayments/company/{companyId}":{"post":{"tags":["salary-controller"],"summary":"Pays CEO","operationId":"payCeoUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"companyId","in":"path","description":"Company id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SalaryPaymentView","originalRef":"SalaryPaymentView"}}},"deprecated":true}},"/api/salarypayments/{paymentId}":{"get":{"tags":["salary-controller"],"summary":"Returns payment","operationId":"getPaymentUsingGET","produces":["*/*"],"parameters":[{"name":"paymentId","in":"path","description":"Payment id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SalaryPaymentView","originalRef":"SalaryPaymentView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/search/companies/{namePart}":{"get":{"tags":["company-controller"],"summary":"Finds companies by name part","operationId":"searchCompaniesUsingGET","produces":["*/*"],"parameters":[{"name":"namePart","in":"path","description":"Name part","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CompactCompanyView","originalRef":"CompactCompanyView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/search/events/":{"get":{"tags":["event-controller"],"summary":"Finds nonpersistent events by realms (optional: after date)","operationId":"findEventsByRealmsUsingGET","produces":["*/*"],"parameters":[{"name":"afterDate","in":"query","description":"After date","required":false,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"realms[]","in":"query","description":"Realms","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Event","originalRef":"Event"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/search/events/type/{eventType}":{"get":{"tags":["event-controller"],"summary":"Finds nonpersistent events by event type  (optional: after date, realms)","operationId":"findEventsByEventTypeUsingGET","produces":["*/*"],"parameters":[{"name":"afterDate","in":"query","description":"After date","required":false,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"eventType","in":"path","description":"Event type","required":true,"type":"string","enum":["NEW_USER","NEW_SECURITY","NEW_COMPANY","NEW_BOND","COMPANY_LIQUIDATED","SECURITY_TRADED","ORDER_ACCEPTED","ORDER_DELETED","ORDER_FILLED","LIQUIDATION_POLL_INITIATED","CASH_OUT_POLL_INITIATED","EMPLOY_CEO_POLL_INITIATED","COMPANY_NAME_CHANGE_POLL_INITIATED","SALARY_PAYMENT","CEO_DISMISSED","CEO_RESIGNED","SYSTEM_STARTED","FIXED_INCOME_REPAID","CAPITAL_INCREASE_POLL_INITIATED","CAPITAL_REDUCTION_POLL_INITIATED","DIVIDEND_PAYMENT_POLL_INITIATED","MERGER_POLL_INITIATED"]},{"name":"realms[]","in":"query","description":"Realms","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Event","originalRef":"Event"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/search/events/{fullTextPart}":{"get":{"tags":["event-controller"],"summary":"Finds nonpersistent events by full-text search (optional: after date)","operationId":"findEventsByFullTextUsingGET","produces":["*/*"],"parameters":[{"name":"afterDate","in":"query","description":"After date","required":false,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"fullTextPart","in":"path","description":"Part of the event full-text representation","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Event","originalRef":"Event"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/search/listings/":{"get":{"tags":["listing-controller"],"summary":"Finds listing by part of their security identifiers","operationId":"findListingsByAsinUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ListingView","originalRef":"ListingView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/search/listings/{securityIdentifierPart}":{"get":{"tags":["listing-controller"],"summary":"Finds listing by part of their security identifiers","operationId":"findListingsByAsinPartUsingGET","produces":["*/*"],"parameters":[{"name":"securityIdentifierPart","in":"path","description":"Part of security identifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ListingView","originalRef":"ListingView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/search/users/{namePart}":{"get":{"tags":["user-account-controller"],"summary":"Finds users by part of their usernames","operationId":"findUserUsingGET","produces":["*/*"],"parameters":[{"name":"namePart","in":"path","description":"Part of user name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UsernameView","originalRef":"UsernameView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/securityPrices":{"get":{"tags":["security-price-controller"],"summary":"Lists all prices for security identified by security identifier","operationId":"listPricesUsingGET","produces":["*/*"],"parameters":[{"name":"endDate","in":"query","description":"End date","required":false,"type":"string","allowEmptyValue":false},{"name":"securityIdentifier","in":"query","description":"Security identifier","required":true,"type":"string","allowEmptyValue":false},{"name":"startDate","in":"query","description":"Start date","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SecurityPriceView","originalRef":"SecurityPriceView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/securityorderlogs":{"get":{"tags":["security-order-log-controller"],"summary":"Lists security order log entries for trades of securities identified by security identifier","operationId":"liLoSecuIdentUsingGET","produces":["*/*"],"parameters":[{"name":"buyerSecuritiesAccountId","in":"query","description":"Buyer's securities account id","required":false,"type":"string","allowEmptyValue":false},{"name":"endDate","in":"query","description":"End date","required":false,"type":"string","allowEmptyValue":false},{"name":"securityIdentifier","in":"query","description":"Security identifier","required":false,"type":"string","allowEmptyValue":false},{"name":"sellerSecuritiesAccountId","in":"query","description":"Seller's securities account id","required":false,"type":"string","allowEmptyValue":false},{"name":"startDate","in":"query","description":"Start date","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SecurityOrderLogEntryView","originalRef":"SecurityOrderLogEntryView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/securityorders":{"post":{"tags":["security-order-controller"],"summary":"Adds a new security order","description":"Adds a new order to the order book of the security identified by securityIdentifier. It belongs to the owning securities account. A market order needs no price limit. The id of a security account of a counterparty can be submitted for OTC deals.","operationId":"addOrderUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"action","in":"query","description":"SecurityOrder action","required":true,"type":"string","allowEmptyValue":false,"enum":["SELL","BUY"]},{"name":"checkOrderOnly","in":"query","description":"Check Order without execution","required":false,"type":"boolean","allowEmptyValue":false},{"name":"counterparty","in":"query","description":"OTC counterparty's securities account","required":false,"type":"string","allowEmptyValue":false},{"name":"goodAfterDate","in":"query","description":"Good after date (premium feature)","required":false,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"goodTillDate","in":"query","description":"Good till date (premium feature)","required":false,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"hourlyChange","in":"query","description":"Hourly change","required":false,"type":"string","allowEmptyValue":false},{"name":"numberOfShares","in":"query","description":"Number of shares","required":true,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"owner","in":"query","description":"ID of securities account","required":true,"type":"string","allowEmptyValue":false},{"name":"price","in":"query","description":"Price","required":false,"type":"string","allowEmptyValue":false},{"name":"securityIdentifier","in":"query","description":"Security identifier","required":true,"type":"string","allowEmptyValue":false},{"name":"type","in":"query","description":"SecurityOrder type","required":true,"type":"string","allowEmptyValue":false,"enum":["MARKET","LIMIT"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SecurityOrder","originalRef":"SecurityOrder"}}},"deprecated":false},"delete":{"tags":["security-order-controller"],"summary":"Deletes all orders","operationId":"deleteOrdersUsingDELETE","produces":["*/*"],"parameters":[{"name":"createdBefore","in":"query","description":"Orders created before","required":false,"type":"string","allowEmptyValue":false},{"name":"owner","in":"query","description":"ID of securities account","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessagePrototype","originalRef":"MessagePrototype"}}},"deprecated":false}},"/api/securityorders/check/":{"get":{"tags":["security-order-controller"],"summary":"Checks Security Order for Acceptance (DEPRECATED: Use addOrder with checkOrder = true)","operationId":"checkOrderUsingGET","produces":["*/*"],"parameters":[{"name":"action","in":"query","description":"SecurityOrder action","required":true,"type":"string","allowEmptyValue":false,"enum":["SELL","BUY"]},{"name":"numberOfShares","in":"query","description":"Number of shares","required":false,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"owner","in":"query","description":"ID of securities account","required":true,"type":"string","allowEmptyValue":false},{"name":"price","in":"query","description":"Price","required":false,"type":"string","allowEmptyValue":false},{"name":"securityIdentifier","in":"query","description":"Security identifier","required":true,"type":"string","allowEmptyValue":false},{"name":"type","in":"query","description":"SecurityOrder type","required":true,"type":"string","allowEmptyValue":false,"enum":["MARKET","LIMIT"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderCheck","originalRef":"OrderCheck"}},"500":{"description":"500 message"}},"deprecated":true}},"/api/securityorders/counterparty/{securitiesAccountId}":{"get":{"tags":["security-order-controller"],"summary":"Lists unfilled counter otc orders for securities account","operationId":"getCounterOtcOrdersUsingGET","produces":["*/*"],"parameters":[{"name":"securitiesAccountId","in":"path","description":"Securities account id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SecurityOrder","originalRef":"SecurityOrder"}}},"500":{"description":"500 message"}},"deprecated":false}},"/api/securityorders/securitiesaccount/{securitiesAccountId}":{"get":{"tags":["security-order-controller"],"summary":"Lists unfilled orders owned by securities account","operationId":"getOwnedOrdersUsingGET","produces":["*/*"],"parameters":[{"name":"securitiesAccountId","in":"path","description":"Securities account id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SecurityOrder","originalRef":"SecurityOrder"}}},"500":{"description":"500 message"}},"deprecated":false}},"/api/securityorders/{orderId}":{"get":{"tags":["security-order-controller"],"summary":"Returns a single order","operationId":"getOrderUsingGET","produces":["*/*"],"parameters":[{"name":"orderId","in":"path","description":"SecurityOrder id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SecurityOrder","originalRef":"SecurityOrder"}},"500":{"description":"500 message"}},"deprecated":false},"delete":{"tags":["security-order-controller"],"summary":"Deletes a single order","operationId":"deleteOrderUsingDELETE","produces":["*/*"],"parameters":[{"name":"orderId","in":"path","description":"SecurityOrder id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessagePrototype","originalRef":"MessagePrototype"}}},"deprecated":false}},"/api/shareholders/{securityIdentifier}":{"get":{"tags":["listing-controller"],"summary":"Lists Shareholders","operationId":"searchListingsUsingGET","produces":["*/*"],"parameters":[{"name":"securityIdentifier","in":"path","description":"Security Identifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ShareholderView","originalRef":"ShareholderView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/systembonds":{"get":{"tags":["system-bond-controller"],"summary":"Lists all bonds","operationId":"listsBondsUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BondView","originalRef":"BondView"}},"500":{"description":"500 message"}},"deprecated":false},"post":{"tags":["system-bond-controller"],"summary":"Issues new bonds to be bought by the central bank at the current main interest rate","operationId":"issueSystemBondsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"companyId","in":"query","description":"Company id","required":true,"type":"string","allowEmptyValue":false},{"name":"numberOfBonds","in":"query","description":"Number of bonds to emit","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SystemBondView","originalRef":"SystemBondView"}}},"deprecated":false}},"/api/systembonds/securityidentifier/{securityIdentifier}":{"get":{"tags":["system-bond-controller"],"summary":"Returns bond by its security identifier","operationId":"getSystemBondBySecIdentUsingGET","produces":["*/*"],"parameters":[{"name":"securityIdentifier","in":"path","description":"Security Identifier","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SystemBondView","originalRef":"SystemBondView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/systembonds/{bondId}":{"get":{"tags":["system-bond-controller"],"summary":"Returns system bond","operationId":"getSystemBondUsingGET","produces":["*/*"],"parameters":[{"name":"bondId","in":"path","description":"System bond id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SystemBondView","originalRef":"SystemBondView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/testmail":{"post":{"tags":["reset-controller"],"summary":"Sends test mail","operationId":"sendTestMailUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"emailAddress","in":"query","description":"emailAddress","required":true,"type":"string","allowEmptyValue":false},{"in":"body","name":"htmlContent","description":"htmlContent","required":true,"schema":{"type":"string"}},{"name":"subject","in":"query","description":"subject","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessagePrototype","originalRef":"MessagePrototype"}}},"deprecated":false},"put":{"tags":["reset-controller"],"summary":"Sends test mail","operationId":"testmailUsingPUT","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessagePrototype","originalRef":"MessagePrototype"}}},"deprecated":false}},"/api/testusers":{"delete":{"tags":["reset-controller"],"summary":"Deletes test users","operationId":"deleteTestusersUsingDELETE","produces":["*/*"],"parameters":[{"name":"numberOfUsers","in":"query","description":"numberOfUsers","required":true,"type":"integer","format":"int32","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessagePrototype","originalRef":"MessagePrototype"}}},"deprecated":false}},"/api/unsubscribe":{"put":{"tags":["reset-controller"],"summary":"Unsubscribe email","operationId":"unsubscribeEmailUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"emailAdress","in":"query","description":"emailAddress","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessagePrototype","originalRef":"MessagePrototype"}}},"deprecated":false}},"/api/user":{"get":{"tags":["user-account-controller"],"summary":"Returns the logged in user","operationId":"getLoggedInUserAccountUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserAccountView","originalRef":"UserAccountView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/userprofiles/{username}":{"get":{"tags":["user-account-controller"],"summary":"Returns user profile","operationId":"getUserProfileUsingGET","produces":["*/*"],"parameters":[{"name":"username","in":"path","description":"Username","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserProfileView","originalRef":"UserProfileView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/users":{"get":{"tags":["user-account-controller"],"summary":"Lists users","operationId":"getUsersUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UsernameView","originalRef":"UsernameView"}},"500":{"description":"500 message"}},"deprecated":true}},"/api/users/refId/{refId}":{"get":{"tags":["user-account-controller"],"summary":"Returns user by his/her referral ID ","operationId":"getUserAccountByRefIdUsingGET","produces":["*/*"],"parameters":[{"name":"refId","in":"path","description":"Ref ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UsernameView","originalRef":"UsernameView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/users/username/{username}":{"get":{"tags":["user-account-controller"],"summary":"Returns user","operationId":"getUserAccountByUsernameUsingGET","produces":["*/*"],"parameters":[{"name":"username","in":"path","description":"Username","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UsernameView","originalRef":"UsernameView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/users/{userId}":{"get":{"tags":["user-account-controller"],"summary":"Returns the user","operationId":"getUserAccountUsingGET","produces":["*/*"],"parameters":[{"name":"userId","in":"path","description":"User id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UsernameView","originalRef":"UsernameView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/v2/allianceachievementprogress/{allianceId}":{"get":{"tags":["achievement-controller"],"summary":"Returns alliance's progress of not yet reached achievements","operationId":"getOpenAllianceAchievementsUsingGET","produces":["*/*"],"parameters":[{"name":"allianceId","in":"path","description":"Alliance ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AllianceAchievementProgressView","originalRef":"AllianceAchievementProgressView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/v2/allianceachievements/{allianceID}":{"get":{"tags":["achievement-controller"],"summary":"Returns alliance's achievements","operationId":"getAllianceAchievementsUsingGET","produces":["*/*"],"parameters":[{"name":"allianceID","in":"path","description":"Alliance ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AllianceAchievementView","originalRef":"AllianceAchievementView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/v2/alliancehighscores":{"get":{"tags":["highscore-controller"],"summary":"List alliance highscore entries","operationId":"getAllianceHighscoresUsingGET","produces":["*/*"],"parameters":[{"name":"highscoreType","in":"query","description":"Highscore Type","required":true,"type":"string","allowEmptyValue":false,"enum":["BOOK_VALUE","NET_CASH","RESERVES","CASH_FLOW","TRADES","ACHIEVEMENTS","BUILDING","MINER","CHAT_MESSAGES","ONLINE_TIME"]},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«AllianceHighscoreEntryView»","originalRef":"Page«AllianceHighscoreEntryView»"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/v2/alliancememberships":{"get":{"tags":["alliance-controller"],"summary":"Lists memberships of alliance","operationId":"getAllianceMembershipsUsingGET","produces":["*/*"],"parameters":[{"name":"allianceId","in":"query","description":"Alliance id","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AllianceMembershipView","originalRef":"AllianceMembershipView"}},"500":{"description":"500 message"}},"deprecated":false},"post":{"tags":["alliance-controller"],"summary":"Adds user to alliance","operationId":"addToAllianceUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"allianceId","in":"query","description":"Alliance id","required":true,"type":"string","allowEmptyValue":false},{"name":"role","in":"query","description":"Role","required":true,"type":"string","allowEmptyValue":false,"enum":["MEMBER","PRESS_OFFICER","DEPUTY","OWNER"]},{"name":"userId","in":"query","description":"User id","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AllianceMembershipView","originalRef":"AllianceMembershipView"}}},"deprecated":false},"delete":{"tags":["alliance-controller"],"summary":"Removes alliance membership","operationId":"removeAllianceMembershipOfAllianceUsingDELETE","produces":["*/*"],"parameters":[{"name":"allianceId","in":"query","description":"Alliance Id","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessagePrototype","originalRef":"MessagePrototype"}}},"deprecated":false}},"/api/v2/alliancememberships/username":{"get":{"tags":["alliance-controller"],"summary":"Returns user's alliance membership","operationId":"getUserAllianceMembershipUsingGET","produces":["*/*"],"parameters":[{"name":"username","in":"query","description":"Username","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AllianceMembershipView","originalRef":"AllianceMembershipView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/v2/alliancememberships/{membershipId}":{"get":{"tags":["alliance-controller"],"summary":"Return alliance membership","operationId":"returnAllianceMembershipUsingGET","produces":["*/*"],"parameters":[{"name":"membershipId","in":"path","description":"Membership id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AllianceMembershipView","originalRef":"AllianceMembershipView"}},"500":{"description":"500 message"}},"deprecated":false},"put":{"tags":["alliance-controller"],"summary":"Change alliance membership","operationId":"changeAllianceMembershipUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"membershipId","in":"path","description":"Membership id","required":true,"type":"string"},{"name":"role","in":"query","description":"Role","required":false,"type":"string","allowEmptyValue":false,"enum":["MEMBER","PRESS_OFFICER","DEPUTY","OWNER"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AllianceMembershipView","originalRef":"AllianceMembershipView"}}},"deprecated":false},"delete":{"tags":["alliance-controller"],"summary":"Removes alliance membership","operationId":"removeAllianceMembershipUsingDELETE","produces":["*/*"],"parameters":[{"name":"membershipId","in":"path","description":"Membership id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessagePrototype","originalRef":"MessagePrototype"}}},"deprecated":false}},"/api/v2/alliances":{"get":{"tags":["alliance-controller"],"summary":"Lists alliances","operationId":"listAlliancesUsingGET","produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«AllianceWithDetailsView»","originalRef":"Page«AllianceWithDetailsView»"}},"500":{"description":"500 message"}},"deprecated":false},"post":{"tags":["alliance-controller"],"summary":"Creates alliance","operationId":"createAllianceUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"description","in":"query","description":"Description","required":true,"type":"string","allowEmptyValue":false},{"name":"locale","in":"query","description":"Locale","required":true,"type":"string","allowEmptyValue":false},{"name":"logoUrl","in":"query","description":"Logo URL","required":false,"type":"string","allowEmptyValue":false},{"name":"name","in":"query","description":"Name","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AllianceView","originalRef":"AllianceView"}}},"deprecated":false}},"/api/v2/alliances/{allianceId}":{"get":{"tags":["alliance-controller"],"summary":"Returns alliance","operationId":"getAllianceUsingGET","produces":["*/*"],"parameters":[{"name":"allianceId","in":"path","description":"Message alliance id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"500":{"description":"500 message"}},"deprecated":false},"put":{"tags":["alliance-controller"],"summary":"Changes alliance","operationId":"editAllianceUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"allianceId","in":"path","description":"Alliance id","required":false,"type":"string"},{"name":"description","in":"query","description":"Description","required":false,"type":"string","allowEmptyValue":false},{"name":"locale","in":"query","description":"Locale","required":true,"type":"string","allowEmptyValue":false},{"name":"logoUrl","in":"query","description":"Logo URL","required":false,"type":"string","allowEmptyValue":false},{"name":"name","in":"query","description":"Name","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AllianceView","originalRef":"AllianceView"}}},"deprecated":false},"delete":{"tags":["alliance-controller"],"summary":"Deletes alliance","operationId":"deleteAllianceUsingDELETE","produces":["*/*"],"parameters":[{"name":"allianceId","in":"path","description":"Alliance id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"deprecated":false}},"/api/v2/alliances/{allianceId}/news":{"get":{"tags":["news-controller"],"summary":"Lists alliance's news","description":"Sorted descending by dateCreated as default","operationId":"listAlliancesNewsUsingGET","produces":["*/*"],"parameters":[{"name":"allianceId","in":"path","description":"allianceId","required":true,"type":"string"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«PostView»","originalRef":"Page«PostView»"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/v2/authors/{userId}/news":{"get":{"tags":["news-controller"],"summary":"Lists author's news","description":"Sorted descending by dateCreated as default","operationId":"listAuthorsNewsUsingGET","produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«PostView»","originalRef":"Page«PostView»"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/v2/averagebondinterestrate":{"get":{"tags":["main-interest-rate-controller"],"summary":"Lists average daily bond interest rates in percent","operationId":"listAverageRatesUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AverageDailyBondInterestRateView","originalRef":"AverageDailyBondInterestRateView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/v2/averagebuyingprice":{"get":{"tags":["security-order-log-controller"],"summary":"Returns the average buying price based on security log entries","operationId":"calculateAverageBuyingPriceUsingGET","produces":["*/*"],"parameters":[{"name":"securitiesAccountId","in":"query","description":"Securities account id","required":true,"type":"string","allowEmptyValue":false},{"name":"securityIdentifier","in":"query","description":"Security Identifier","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"type":"number"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/v2/bankaccounts/{bankAccountId}":{"get":{"tags":["bank-account-controller"],"summary":"Returns bank account","operationId":"getBankAccountUsingGET","produces":["*/*"],"parameters":[{"name":"bankAccountId","in":"path","description":"Bank account id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BankAccountView","originalRef":"BankAccountView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/v2/banktransfer/{senderBankAccountId}":{"put":{"tags":["bank-account-controller"],"summary":"Bank transfer","operationId":"sendMoneyUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"cashAmount","in":"query","description":"Cash amount","required":true,"type":"string","allowEmptyValue":false},{"name":"receiverBankAccountId","in":"query","description":"Receiver bank account id","required":true,"type":"string","allowEmptyValue":false},{"name":"senderBankAccountId","in":"path","description":"Sender bank account id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessagePrototype","originalRef":"MessagePrototype"}}},"deprecated":false}},"/api/v2/bestalliances":{"get":{"tags":["highscore-controller"],"summary":"List best alliances (combining all alliance highscores)","operationId":"getBestAlliancesUsingGET","produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«AllianceView»","originalRef":"Page«AllianceView»"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/v2/bestcompanies":{"get":{"tags":["highscore-controller"],"summary":"List best companies (combining all company highscores)","operationId":"getBestCompaniesUsingGET","produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«CompanyView»","originalRef":"Page«CompanyView»"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/v2/bestusers":{"get":{"tags":["highscore-controller"],"summary":"List best users (combining all user highscores)","operationId":"getBestUsersUsingGET","produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«UsernameView»","originalRef":"Page«UsernameView»"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/v2/biggesttradedsecurities":{"get":{"tags":["price-spread-controller"],"summary":"Lists traded securities with the biggest trading volume of the last 24h","operationId":"getBiggestTradedSecuritiesUsingGET","produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"type","in":"query","description":"Listing type","required":false,"type":"string","allowEmptyValue":false,"enum":["STOCK","BOND","INTEREST_TENDER_BOND","REPO","SYSTEM_BOND","SYSTEM_REPO","COIN","INDEX","WARRANT","BUILDING","OTHER"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ListingWithTradingCountView","originalRef":"ListingWithTradingCountView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/v2/bonds":{"get":{"tags":["bond-controller"],"summary":"Lists all bonds","description":"Sorted ascending by maturityDate as default","operationId":"listBondsUsingGET","produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"search","in":"query","description":"Fulltext search","required":false,"type":"string","allowEmptyValue":false},{"name":"size","in":"query","description":"Number of records per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BondView","originalRef":"BondView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/v2/capitalincreasepolls":{"post":{"tags":["voting-controller"],"summary":"Initiate capital increase poll","operationId":"initiateCapitalIncreasePollUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"capitalIncreaseType","in":"query","description":"Capital increase type","required":true,"type":"string","allowEmptyValue":false,"enum":["WITH_SUBSCRIPTION_RIGHTS","WITHOUT_SUBSCRIPTION_RIGHTS"]},{"name":"companyId","in":"query","description":"Company id","required":true,"type":"string","allowEmptyValue":false},{"name":"minimalCashVolume","in":"query","description":"Minimal cash volume","required":true,"type":"string","allowEmptyValue":false},{"name":"price","in":"query","description":"Price","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CapitalIncreasePollView","originalRef":"CapitalIncreasePollView"}}},"deprecated":false}},"/api/v2/capitalincreases":{"get":{"tags":["corporate-action-controller"],"summary":"Returns capital increases","operationId":"getCapitalIncreasesUsingGET","produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CapitalIncreaseView","originalRef":"CapitalIncreaseView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/v2/capitalreductionpolls":{"post":{"tags":["voting-controller"],"summary":"Initiate capital reduction poll","operationId":"initiateCapitalReductionPollUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"companyId","in":"query","description":"Company id","required":true,"type":"string","allowEmptyValue":false},{"name":"numberOfShares","in":"query","description":"Number of shares","required":true,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"price","in":"query","description":"Price","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CapitalReductionPollView","originalRef":"CapitalReductionPollView"}}},"deprecated":false}},"/api/v2/capitalreductions":{"get":{"tags":["corporate-action-controller"],"summary":"Returns capital reductions","operationId":"getCapitalReductionsUsingGET","produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CapitalReductionView","originalRef":"CapitalReductionView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/v2/cashoutpolls":{"post":{"tags":["voting-controller"],"summary":"Initiate cash out poll","operationId":"initiateCashOutPollUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"companyId","in":"query","description":"Company id","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ShareholderYesNoPollView","originalRef":"ShareholderYesNoPollView"}}},"deprecated":false}},"/api/v2/cashtransferlogs/{bankAccountId}":{"get":{"tags":["cash-transfer-log-controller"],"summary":"Lists cash transfer logs","operationId":"listLogsUsingGET","produces":["*/*"],"parameters":[{"name":"bankAccountId","in":"path","description":"Bank account id","required":true,"type":"string"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"search","in":"query","description":"Fulltext search (be aware of non-localized subject and content and be aware of MessagePrototype's structure with substitutions; useful for security identifiers)","required":false,"type":"string","allowEmptyValue":false},{"name":"size","in":"query","description":"Number of records per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CashTransferLogEntryView","originalRef":"CashTransferLogEntryView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/v2/centralbankreserves/{reservesId}":{"put":{"tags":["central-bank-reserves-controller"],"summary":"Increase central bank reserves interest rate boost by 0.01%","operationId":"increaseInterestRateBoostUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"increaseInterestRateBoost","in":"query","description":"Increase interest boost rate","required":true,"type":"boolean","allowEmptyValue":false},{"name":"multiplier","in":"query","description":"Number of boosts","required":false,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"reservesId","in":"path","description":"Reserves id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CentralbankReservesView","originalRef":"CentralbankReservesView"}}},"deprecated":false}},"/api/v2/changecompanynamepolls":{"post":{"tags":["voting-controller"],"summary":"Initiate change company name poll","operationId":"initiateChangeCompanyNamePollUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"companyId","in":"query","description":"Company id","required":true,"type":"string","allowEmptyValue":false},{"name":"newName","in":"query","description":"New Name","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EmployCeoPollView","originalRef":"EmployCeoPollView"}}},"deprecated":false}},"/api/v2/chatmemberships":{"get":{"tags":["chat-controller"],"summary":"Returns chat memberships of chat","operationId":"getChatMembershipsUsingGET","produces":["*/*"],"parameters":[{"name":"chatId","in":"query","description":"Chat id","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ChatMembershipView","originalRef":"ChatMembershipView"}},"500":{"description":"500 message"}},"deprecated":false},"post":{"tags":["chat-controller"],"summary":"Adds user to chat","operationId":"addToChatUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"chatId","in":"query","description":"Chat id","required":true,"type":"string","allowEmptyValue":false},{"name":"role","in":"query","description":"Role","required":false,"type":"string","allowEmptyValue":false,"enum":["READER","AUTHOR","MODERATOR","DEPUTY","OWNER"]},{"name":"userId","in":"query","description":"User id","required":true,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ChatMembershipView","originalRef":"ChatMembershipView"}}},"deprecated":false}},"/api/v2/chatmemberships/{membershipId}":{"get":{"tags":["chat-controller"],"summary":"Returns chat membership","operationId":"getChatMembershipUsingGET","produces":["*/*"],"parameters":[{"name":"membershipId","in":"path","description":"Membership id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ChatMembershipView","originalRef":"ChatMembershipView"}},"500":{"description":"500 message"}},"deprecated":false},"put":{"tags":["chat-controller"],"summary":"Change chat membership","operationId":"changeChatMembershipUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"membershipId","in":"path","description":"Membership id","required":true,"type":"string"},{"name":"role","in":"query","description":"Role","required":false,"type":"string","allowEmptyValue":false,"enum":["READER","AUTHOR","MODERATOR","DEPUTY","OWNER"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ChatMembershipView","originalRef":"ChatMembershipView"}}},"deprecated":false},"delete":{"tags":["chat-controller"],"summary":"Removes chat membership","operationId":"removeChatMembershipUsingDELETE","produces":["*/*"],"parameters":[{"name":"membershipId","in":"path","description":"Membership id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessagePrototype","originalRef":"MessagePrototype"}}},"deprecated":false}},"/api/v2/chats":{"post":{"tags":["chat-controller"],"summary":"Creates a new chat","operationId":"createChatUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"chatName","in":"query","description":"Chat name","required":false,"type":"string","allowEmptyValue":false},{"name":"public","in":"query","description":"Public","required":false,"type":"boolean","allowEmptyValue":false},{"name":"readonly","in":"query","description":"Readonly","required":false,"type":"boolean","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ChatView","originalRef":"ChatView"}}},"deprecated":false}},"/api/v2/chats/{chatId}":{"get":{"tags":["chat-controller"],"summary":"Returns chat","operationId":"getChatUsingGET","produces":["*/*"],"parameters":[{"name":"chatId","in":"path","description":"Chat id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PlainChatView","originalRef":"PlainChatView"}},"500":{"description":"500 message"}},"deprecated":false},"put":{"tags":["chat-controller"],"summary":"Changes chat properties","operationId":"changeChatUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"chatId","in":"path","description":"Chat id","required":true,"type":"string"},{"name":"chatName","in":"query","description":"Chat name","required":false,"type":"string","allowEmptyValue":false},{"name":"public","in":"query","description":"Public","required":false,"type":"boolean","allowEmptyValue":false},{"name":"readonly","in":"query","description":"Readonly","required":false,"type":"boolean","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PlainChatView","originalRef":"PlainChatView"}}},"deprecated":false},"delete":{"tags":["chat-controller"],"summary":"Deletes chat","operationId":"deleteChatUsingDELETE","produces":["*/*"],"parameters":[{"name":"chatId","in":"path","description":"Chat id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MessagePrototype","originalRef":"MessagePrototype"}}},"deprecated":false}},"/api/v2/companies":{"get":{"tags":["company-controller"],"summary":"Lists all companies","description":"Sorted ascending by name as default","operationId":"listAllCompaniesUsingGET","produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«CompanyView»","originalRef":"Page«CompanyView»"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/v2/companies/{companyId}/capitalincrease":{"get":{"tags":["corporate-action-controller"],"summary":"Returns company's current capital increase","operationId":"getCompanyCapitalIncreaseUsingGET","produces":["*/*"],"parameters":[{"name":"companyId","in":"path","description":"Company id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CapitalIncreaseView","originalRef":"CapitalIncreaseView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/v2/companies/{companyId}/capitalreduction":{"get":{"tags":["corporate-action-controller"],"summary":"Returns company's current capital reduction","operationId":"getCompanyCapitalReductionUsingGET","produces":["*/*"],"parameters":[{"name":"companyId","in":"path","description":"Company id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CapitalReductionView","originalRef":"CapitalReductionView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/v2/companies/{companyId}/dividendpayment":{"get":{"tags":["corporate-action-controller"],"summary":"Returns company's current dividend payment","operationId":"getCompanyDividendPaymentUsingGET","produces":["*/*"],"parameters":[{"name":"companyId","in":"path","description":"Company id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DividendPaymentView","originalRef":"DividendPaymentView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/v2/companies/{companyId}/merger":{"get":{"tags":["corporate-action-controller"],"summary":"Returns company's current merger","operationId":"getMergerUsingGET","produces":["*/*"],"parameters":[{"name":"companyId","in":"path","description":"Company id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CapitalReductionView","originalRef":"CapitalReductionView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/v2/companies/{companyId}/news":{"get":{"tags":["news-controller"],"summary":"Lists company's news","description":"Sorted descending by dateCreated as default","operationId":"listCompanysNewsUsingGET","produces":["*/*"],"parameters":[{"name":"companyId","in":"path","description":"companyId","required":true,"type":"string"},{"name":"page","in":"query","description":"Results page you want to retrieve (0..N)","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Number of records per page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«PostView»","originalRef":"Page«PostView»"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/v2/companies/{companyId}/polls":{"get":{"tags":["voting-controller"],"summary":"Returns company's polls","operationId":"getCompanyPollsUsingGET","produces":["*/*"],"parameters":[{"name":"companyId","in":"path","description":"Company id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AbstractPollView","originalRef":"AbstractPollView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/v2/companyachievementprogress/{companyId}":{"get":{"tags":["achievement-controller"],"summary":"Returns company's progress of not yet reached achievements","operationId":"getOpenCompanyAchievementsUsingGET","produces":["*/*"],"parameters":[{"name":"companyId","in":"path","description":"Company ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CompanyAchievementProgressView","originalRef":"CompanyAchievementProgressView"}},"500":{"description":"500 message"}},"deprecated":false}},"/api/v2/companyachievements/{companyId}":{"get":{"tags":["achievement-controller"],"summary":"Returns company's achievements","operationId":"getCompanyAchievementsUsi
[...]
